* {
    box-sizing: border-box;
}

body {
    background: #00000025;
}

.myphotos-gal {
    margin-top: 300px;
    width: 300px;
    height: 350px;
    border: 1px solid darkblue;
    box-shadow: 1px 2px 3px red .8;
    border-radius: 4px;
}


.myphotos_images {
    padding-left: 5px;
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.myphotos-gal h3 {
    background: navy;
    height: 30px;
    width: 100%;
    color: white;
    margin-top: 0;
    padding-left: 20px;
    align-items: center;
}

.myphotos-gal img {
    /* display: flex; */
    height: 95px;
    width: 135px;
    margin: 2px;
    /* padding: 10px;
    padding-top: 0;
    margin-top: 0; */
}